<nav class="navbar">
    <a href="/" class="brand">
        <div class="brand-icon">👔</div>
        <div>
            <h1>StaffHub</h1>
            <p>Employee Management</p>
        </div>
    </a>
</nav>